*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out
a.out
*.c
*.cpp
*.h
*.hpp
!*.*
build/
bin/
obj/
output/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
.vscode/
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/settings.json
.DS_Store
Thumbs.db
